html, body {
    height: 100%;
    width: 100%;
}

html {
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

body {
    background-color: #333333;
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

a,
a:hover,
a:focus {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 28px;
}

nav {
    height: 100px;
    text-align: center;
}

.nav-right * {
    display: inline-block;
}

.nav-right a {
    font-weight: bold;
    color: #FFFFFF; /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
}

.nav-right a:hover,
.nav-right a:focus {
    text-decoration: none;
    color: inherit;

    -webkit-transition: border 300ms ease;
    -o-transition: border 300ms ease;
    transition: border 300ms ease;
    border-bottom-color: white;
}

.active > a,
.active > a:hover,
.active > a:focus {
    color: white;
    border-bottom-color: white;
}

.nav-right > li + li {
    margin-left: 10px;
}

.content {
    padding: 15px 10px 0 10px;
}

.content h1 {
    padding-bottom: 10px;
}

.upload-form {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.upload-form .upload {
    width: 100%;
}

.upload-form .submit {
    margin-top: 20px;
}

footer {
    padding: 30px 5px 5px 5px;
    color: #999999;
}

@media (min-width: 600px) {
    h1 {
        font-size: 36px;
    }

    nav {
        padding-top: 20px;
    }

    nav ul {
        display: inline-block;
    }
    
    nav .brand {
        float: left;
        padding-left: 100px;
    }
    
    nav .nav-right {
        float: right;
        padding-right: 100px;
        margin-top: 20px;
    }

    .nav-right > li + li {
        margin-left: 20px;
    }

    .content {
        padding-top: 125px;
    }

    .upload-form {
        max-width: 35%;
    }
}