html, body {
    height: 100%;
    width: 100%;
}

body {
    color: #111111;
}

a,
a:hover,
a:focus {
    color: #5c5c5c;
    text-decoration: none;
}

h1 {
    font-size: 28px;
}

nav {
    height: 100px;
    text-align: center;
}

.nav-right * {
    display: inline-block;
}

.nav-right a {
    font-weight: bold;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
}

.nav-right a:hover,
.nav-right a:focus {
    text-decoration: none;
    -webkit-transition: border 300ms ease;
    -o-transition: border 300ms ease;
    transition: border 300ms ease;
    border-bottom-color: #5cb85c;
}

.active > a,
.active > a:hover,
.active > a:focus {
    color: #111111;
    border-bottom-color: #5cb85c;
}

.nav-right > li + li {
    margin-left: 10px;
}

.content {
    text-align: center;
}

.content h1 {
    padding-bottom: 10px;
}

.home-picture {
    background: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url('../res/media/happy.jpg');
}

.center-form {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.home-form {
    padding-top: 50px;
    padding-bottom: 50px;
}

.center-form .upload {
    width: 100%;
}

.center-form .submit {
    margin-top: 20px;
}

h1.home {
    padding-top: 30px;
}

.row {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.glyphicon {
    font-size: 35px;
}

.contact {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.contact * {
    margin-bottom: 20px;
}

.header {
    background-color: #5cb85c;
    color: white;
    height: 100px;
    text-align: center;
}

.header h1 {
    padding-top: 30px;
    font-size: 35px;
}

.privacy {
    padding-left: 12%;
    padding-right: 12%;
}

.privacy h2 {
    padding-top: 30px;
}

.privacy h3 {
    padding-top: 20px;
}

.content .done {
    text-align: center;
}

pre {
    margin-left: auto;
    margin-right: auto;
}

.mysql-content {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding: 30px 5px 5px 5px;
    color: #999999;
    text-align: center;
}

@media (min-width: 600px) {
    h1 {
        font-size: 36px;
    }

    nav {
        padding-top: 20px;
    }

    nav ul {
        display: inline-block;
    }

    nav .brand {
        float: left;
        padding-left: 100px;
    }

    nav .nav-right {
        float: right;
        padding-right: 100px;
        margin-top: 20px;
    }

    .nav-right > li + li {
        margin-left: 20px;
    }

    .home-form {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .upload-form {
        max-width: 35%;
    }

    .header {
        height: 200px;
    }

    .header h1 {
        padding-top: 80px;
        font-size: 50px;
    }
}